=breadcrumb_tag do
  %li.active
    = t('headers.excursions.new')
  %li
    = link_to 'Экскурсия', excursions_path
  %li Новая экскурсия
    

.page-header
  %h1= t('headers.excursions.new')

= render 'form'
